<!-- <nav class="navbar navbar-expand-lg navbar-light top">
  <div class="mx-5">
    <a class="navbar-brand" href="#" appCommonColor="red">Yashwanth's Portfolio</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/education" routerLinkActive="active">Education</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>

    <!-- WhatsApp Link -->
    <!-- <a class="navbar-icon" href="https://wa.me/918096537193" target="_blank" title="Chat with us on WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</nav> --> 

<!-- Sidebar HTML -->
<div class="sidebar">
  <h2>Yashwanth's Portfolio</h2>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
  <div class="contact-links">
    <a class="sidebar-icon" href="https://wa.me/918096537193" target="_blank" title="Chat with us on WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a class="sidebar-icon" href="https://www.linkedin.com/in/yashwanth-cherukumalli-ch" target="_blank" title="View LinkedIn Profile">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
