<div class="container mt-5">
    <h2>Projects</h2>
    
    <div *ngFor="let project of projects" class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">{{ project.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ project.technology }}</h6>
        <p class="card-text"><strong>Development Tool:</strong> {{ project.developmentTool }}</p>
        <p class="card-text"><strong>Team Size:</strong> {{ project.teamSize }}</p>
        <p class="card-text">{{ project.description }}</p>
        
        <h5>Responsibilities:</h5>
        <ul>
          <li *ngFor="let responsibility of project.responsibilities">{{ responsibility }}</li>
        </ul>
      </div>
    </div>
  </div>
  